@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@font-face {
  font-family:'Space-mono';
  src: url('./fonts/Space_Mono/') format('turetype');

}

body {
  font-family: 'Space-mono';
}
